html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.menu table tr {
    border: solid 1px rgb(2, 2, 2);
    background-color: rgb(91, 146, 91);
}

.content div table tr:hover{

    background-color: rgb(44, 43, 43);
    color: #f1f1f1;
}
.content div table th{

    background-color: rgb(7, 7, 7);
    color: #f1f1f1;
}
.content div table tr{
    background-color: rgb(203, 203, 207);

}
.menu table tr:hover td{
    background-color: rgb(201, 235, 201);
}


.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(136, 187, 143);
    padding: 10px 20px 0px;
    
}
.header {
    background-color: rgb(136, 187, 143);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(130, 187, 143);
    min-height: 150px;
}